body {
  background-color: #e7eaf6;
  font-family: "Roboto", "Poppins", sans-serif;
  margin-top: 50px;
}

h1,
h2 {
  font-weight: 700;
  line-height: 48px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 75px;
  text-align: center;
}

p {
  font-size: 15px;
}

hr {
  margin: 5px 0;
}

footer {
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
}

.weather-app {
  background-color: #fff;
  border: 1px solid #e7eaf6;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  padding: 10px 40px 0;
}

.search-bar {
  margin: 20px auto;
}

.change-city {
  border: 1px solid rgb(169, 167, 167);
  border-radius: 30px;
}

.search-button {
  background-color: #e7eaf6;
  border: 1px solid rgba(162, 168, 211, 0, 8);
  border-radius: 30px;
  transition: all 150ms ease-in-out;
  padding: 7px 20px;
  display: flex;
  justify-content: center;
}

.search-button:hover {
  background-color: #fff;
  border: 1px solid rgba(162, 168, 211, 0, 8);
}

.current-button {
  background-color: #a2a8d3;
  border: 1px solid #a2a8d3;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: all 150ms ease-in-out;
  padding: 7px 16px;
  position: relative;
  left: 12px;
}

.current-button:hover {
  background-color: #fff;
  border: 1px solid #a2a8d3;
  color: #a2a8d3;
}

.degree-unit {
  color: #38598b;
  opacity: 1.5;
  position: relative;
  left: 30px;
  top: 9px;
}

.degree-unit .active {
  color: #113f67;
  cursor: default;
  font-weight: bold;
}

#celsius-link,
#fahrenheit-link {
  color: #38598b;
  text-decoration: none;
}

.city,
.degrees-today {
  color: #113f67;
}

.degrees-today small {
  position: relative;
  top: -21px;
  font-size: 0.6875em;
}

#weather-icon {
  display: block;
  margin: auto;
}

#weather-description {
  text-transform: capitalize;
}

.weather-details {
  color: #38598b;
  opacity: 0.7;
}

.prediction {
  border: 1px solid #a2a8d3;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  padding: 10px 25px;
}

.forecast {
  color: #38598b;
  opacity: 0.9;
  margin: 10px auto;

  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px;
  transition: all 100ms ease-in-out;
}

.forecast:hover {
  background-color: #e7eaf6;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px;
}

.forecast-max-temperature {
  color: #113f67;
  opacity: 1.5;
}

.forecast-min-temperature {
  color: #38598b;
  opacity: 0.7;
}

.forecast-icons {
  position: relative;
  top: -9px;
}
